<!-- {% extends 'base.html' %} -->

{% block content %}
  <h1>Tutor Timetable</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Tutor Name</th>
        <th>Day of Week</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      {% for tutor_schedule in tutor_schedules %}
        <tr>
          <td>{{ tutor_schedule.tutor_name }}</td>
          <td>{{ tutor_schedule.day_of_week }}</td>
          <td>{{ tutor_schedule.start_time }}</td>
          <td>{{ tutor_schedule.end_time }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'home' %}">Home</a>
{% endblock %}
